@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh; /* Make the content fill the page so the footer is at the bottom */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  background-color: #1F383B;
}

nav {
  padding: 0 1.5vh;
  height: 60px;
  font-size: 35px;
  font-family: 'Inknut Antiqua';
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-items > a {
  color: #b2beb5;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  font-weight: 700;
}

.nav-items > a {
  color: #b2beb5;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  font-weight: 700;
}

.nav-items .active {
  color: #b2beb5;
  pointer-events: none;
  text-decoration: underline;
}

.nav-items:hover {
  color: #b2beb5;
  text-decoration: underline;
}

.chara-items {
  width: 650px;
  text-align: center;
  font-size: 35px;
  font-family: 'Inknut Antiqua';
  color: #b2beb5;
  transition: 0.4s ease-in-out;
  font-weight: 700;
}

.chara-items > a {
  color: #b2beb5;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  font-weight: 700;
}

.chara-items:hover {
  color: #b2beb5;
  text-decoration: underline;
}

.line {
  display: flex;
  justify-self: center;
  width: 620px;
  height: 0.1vh;
  background-color: #b2beb5;
}

.line1 {
  display: flex;
  justify-self: center;
  width: 500px;
  height: 0.1vh;
  background-color: #b2beb5;
}

.text {
  margin-top: 50px;
  width: 650px;
  font-family: 'Faustina';
  font-size: 20px;
  color: #b2beb5;
  text-align: justify;
}

.textc {
  margin-top: 5px;
  width: 650px;
  font-family: 'Faustina';
  font-size: 20px;
  color: #b2beb5;
  text-align: justify;
}

.head {
  width: 500px;
  margin-top: 50px;
  font-family: 'Inknut Antiqua';
  font-size: 44px;
  color: #b2beb5;
  text-align: center;
  text-decoration: underline;
}

a:link {
  color: #b2beb5;
  text-decoration: none;
}

a:visited {
  color: #b2beb5;
  text-decoration: none;
}

a:hover {
  color: #b2beb5;
  text-decoration: underline;
}

a:active {
  color: #b2beb5;
  text-decoration: none;
}

table {
  font-family: Faustina;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #b2beb5;
  text-align: center;
  padding: 8px;
}

th {
  color: #1F383B;
  background-color: #b2beb5;
}

td:nth-child(even) {
  background-color: #264348;
}
